In [3]:
import numpy as np

In [4]:
names= np.genfromtxt('../dataset/vgsales.csv',
              usecols=(1), dtype=str, skip_header=1, 
              delimiter=',', invalid_raise=False)
names[:5]

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii',
       'Wii Sports Resort', 'Pokemon Red/Pokemon Blue'], dtype='<U132')

In [5]:
platform = np.genfromtxt('../dataset/vgsales.csv',
              usecols=(2), dtype=str, skip_header=1, 
              delimiter=',')
platform.shape

(16599,)

In [6]:
year= np.genfromtxt('../dataset/vgsales.csv',
              usecols=(3), dtype=int, skip_header=1, 
              delimiter=',')
year.shape

(16599,)

In [7]:
gernes = np.genfromtxt('../dataset/vgsales.csv',
              usecols=(4), dtype=str, skip_header=1, 
              delimiter=',')
gernes.shape

(16599,)

In [8]:
publishers = np.genfromtxt('../dataset/vgsales.csv',
              usecols=(5), dtype=str, skip_header=1, 
              delimiter=',')
publishers.shape

(16599,)

In [9]:
sales = np.genfromtxt('../dataset/vgsales.csv',
              usecols=(6, 7, 8, 9), dtype=float, skip_header=1, 
              delimiter=',')
sales.shape

(16599, 4)

In [10]:

# set_printoptions(suppress) quita valores especiales
np.set_printoptions(suppress=True)
sales

array([[41.49, 29.02,  3.77,  8.46],
       [29.08,  3.58,  6.81,  0.77],
       [15.85, 12.88,  3.79,  3.31],
       ...,
       [ 0.  ,  0.01,  0.  ,  0.  ],
       [ 0.01,  0.  ,  0.  ,  0.  ],
       [  nan,   nan,   nan,   nan]])

In [11]:
# Calcular ventas totales en horizontal con el 1
np.sum(sales, axis=1)

array([82.74, 40.24, 35.83, ...,  0.01,  0.01,   nan])

In [12]:
total_sales = np.sum(sales, axis=1)
total_sales

array([82.74, 40.24, 35.83, ...,  0.01,  0.01,   nan])

In [13]:
# para detectar si hay nan
isnan = np.isnan(total_sales)
isnan[isnan == True]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [14]:
print(f"mean: {np.mean(total_sales)})")
print(f"median: {np.median(total_sales)}")
print(f"max: {np.min(total_sales)}")
print(f"min: {np.min(total_sales)}")
print(f"std. {np.std(total_sales)}")

mean: nan)
median: nan
max: nan
min: nan
std. nan

In [15]:
print(f"Hay NaN: {np.isnan(total_sales).any()}")
print(f"Hay infinito: {np.isinf(total_sales).any()}")
print(f"Hay infinito neg: {np.isneginf(total_sales).any()}")

Hay NaN: True
Hay infinito: False
Hay infinito neg: False

In [16]:
# contar cuantos NaN hay
len(total_sales[np.isnan(total_sales)])

124

In [17]:
# Reemplazar por 0 o -1
total_sales2 = np.nan_to_num(total_sales, nan=0)
print(f"{len(total_sales2)}")
print(f"{np.isnan(total_sales2).any()}")

16599
False

In [18]:
# Calcular la media de total_sales sin nan
total_sales_3 = np.nansum(sales, axis=1)
np.isnan(total_sales_3).any()

False

In [19]:
np.isnan(sales).any()
np.nan_to_num(sales, nan=0)

array([[41.49, 29.02,  3.77,  8.46],
       [29.08,  3.58,  6.81,  0.77],
       [15.85, 12.88,  3.79,  3.31],
       ...,
       [ 0.  ,  0.01,  0.  ,  0.  ],
       [ 0.01,  0.  ,  0.  ,  0.  ],
       [ 0.  ,  0.  ,  0.  ,  0.  ]])

In [20]:
sales_good = sales[~(np.isnan(sales))]
sales_good

array([41.49, 29.02,  3.77, ...,  0.  ,  0.  ,  0.  ])

In [21]:
# True significa que hay nulos(NaN)
print(sales.shape)
print(np.isnan(sales).any())

(16599, 4)
True

In [22]:
mean_per_column = np.nanmean(sales,  axis=0)
mask = np.isnan(sales)
for i in range(sales.shape[1]):
    sales[mask[:, i], i] = mean_per_column[i]

In [23]:
print(sales.shape)
print(np.isnan(sales).any()) #  false singifica que no hay NaN

(16599, 4)
False

In [24]:
print(f"mean: {np.mean(total_sales)})")
print(f"median: {np.median(total_sales)}")
print(f"max: {np.min(total_sales)}")
print(f"min: {np.min(total_sales)}")
print(f"std. {np.std(total_sales)}")

mean: nan)
median: nan
max: nan
min: nan
std. nan

In [31]:
total_sales = np.genfromtxt('../dataset/vgsales.csv',
              usecols=(6, 7, 8, 9), dtype=float, skip_header=1, 
              delimiter=',')

indices = np.argsort(total_sales)[::-1]

names[indices]

array([['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii',
        'Wii Sports Resort'],
       ['Super Mario Bros.', 'Mario Kart Wii', 'Wii Sports Resort',
        'Wii Sports'],
       ['Wii Sports', 'Mario Kart Wii', 'Wii Sports Resort',
        'Super Mario Bros.'],
       ...,
       ['Wii Sports Resort', 'Mario Kart Wii', 'Super Mario Bros.',
        'Wii Sports'],
       ['Wii Sports Resort', 'Super Mario Bros.', 'Mario Kart Wii',
        'Wii Sports'],
       ['Mario Kart Wii', 'Wii Sports Resort', 'Super Mario Bros.',
        'Wii Sports']], dtype='<U132')

In [33]:
unique_platform = np.unique(platform)
unique_platform

array([' A-Kata', ' Badman! What Did I Do to Deserve This?"',
       ' Be Glorious!"', ' Be Gracious!"', ' Boku to Himitsu no Chizu"',
       ' Camera', ' Diego', ' Dood!"', ' Edd n Eddy: Jawbreakers!"',
       ' Edd n Eddy: The Mis-Edventures"', ' Fashion and Friends"',
       ' Futatabi"', ' Ginkaku no Inbou"', ' Hajime Mashita"',
       ' Hidden Dragon"', ' Himawari no Shoujo"', ' Inc. Scream Arena"',
       ' Inc. Scream Team"', ' Inc."', ' Inc.: Mega MicroGame$"',
       ' Inc.: Mega Party Game$"', ' Kai-lan: New Year\'s Celebration"',
       ' Kai-lan: Super Game Day"', ' Keiyaku Shikkou Dechai masuu"',
       ' Kimi ni"', ' Koi Utsutsu: Setsugetsuka Koi Emaki"',
       ' Koiseyo Otome! Love is Power!!!"',
       ' Kono Sekai ni Kami-sama ga Iru to suru Naraba."',
       ' Kore ga Otoko Dearu!"', ' London 1969"', ' Mahjong & Tangram"',
       ' Mon Meilleur Ami"', ' Monkey Do!"', ' My Friend',
       ' My Lord!? 2"', ' My Love"', ' My Way (US sales)"',
       ' Myths & Legends"', ' Nine Persons', ' PS2', ' PS3', ' Pikachu!"',
       ' Sakini Ike"', ' Sea', ' Secret Agent', ' Set', ' Set & Style!"',
       ' She Wrote"', ' Shinitamou Koto Nakare"',
       ' Shinitamou koto Nakare"', ' Shutsujin! Koisen"', ' Sun',
       ' Ten e Kaere"', ' The Bad and The Bugly"',
       ' The Doug Williams Edition"', ' The Witch and The Wardrobe"',
       ' Trade', ' Ware ga Ichizoku Twin Pack"', ' Ware ga Ichizoku"',
       ' Ware ga Ichizoku: Tasogare Polarstar"',
       ' Yoga & Pilates Workout"', ' Zenigata ni wa Koi o"',
       ' but wrong system)"', '000: Dawn of War II - Chaos Rising"',
       '000: Dawn of War II - Retribution"', '000: Dawn of War II"',
       '000: Dawn of War"', '000: Dawn of War: Soulstorm"',
       '000: Fire Warrior"', '000: Space Marine"', '000: Squad Command"',
       '2600', '3DO', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'GG',
       'N64', 'NES', 'NG', 'Otome"', 'PC', 'PCFX', 'PS', 'PS2', 'PS3',
       'PS4', 'PSP', 'PSV', 'Platform', 'SAT', 'SCD', 'SNES', 'TG16',
       'WS', 'Wii', 'WiiU', 'X360', 'XB', 'XOne',
       'big Adventures: Ham-Ham Challenge"'], dtype='<U48')